*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

body{
    background: #645f5f;;
    color: #fff;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sub-title{
    font-size: 42px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

#apprendre{
    padding: 30px 0;
}
.services-liste{
    display: grid;
    grid-gap: 40px;
    margin-top: 50px;
}
.services-liste div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
}
.services-liste div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-liste div a{
    text-decoration: none;
    color: #ff004f;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-liste div a:hover{
    color: blue;
}
.services-liste div h3{
    color: aqua;
}

.services-liste div h2{
    text-transform: uppercase;
}